body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    margin: 0 auto;
    color: #0ead38;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 19px;
    padding-right: 20px;
}
